{% extends "layouts/index.html.twig" %}

{% block content %}
  {{ csrf.field | raw }}
  <div class="row">
    <div class="col-sm-12">
      <h2>Users</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-md btn-primary pull-right" href="{{ path_for('invite') }}">Invite User</a>
    </div>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr data-user_id="{{ user.user_id }}">
            <td>{{ user.name }}</td>
            <td>{{ user.company_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td class="user-action">
              <ul class="list-inline pull-right" style="margin-bottom: 0px;">
                <li>
                  <a title="Send" data-toggle="tooltip" data-user_id="{{ user.user_id }}" class="btn btn-primary btn-sm send">
                    <span class="glyphicon  glyphicon-send"></span>
                  </a>
                </li>
                <li>
                  <a title="Delete" data-toggle="tooltip" data-user_id="{{ user.user_id }}" class="btn btn-danger btn-sm delete">
                    <span class="glyphicon  glyphicon-trash"></span>
                  </a>
                </li>
              </ul>
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="/js/users.js"></script>
{% endblock %}