{% extends "layouts/index.html.twig" %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          Invite User
        </div>
        <div class="panel-body">
          <form method="post" action="{{ path_for('invite.post') }}" autocomplete="off">
            <div class="form-group {{ errors.name ? 'has-error' : '' }}" >
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{ old.name ? old.name : '' }}">
              {% if(errors.name) %}
                <span class="help-block">{{ errors.name | first }}</span>
              {% endif %}
            </div>
            <div class="form-group {{ errors.company_name ? 'has-error' : '' }}">
              <label for="company-name">Company Name</label>
              <input type="text" class="form-control" id="company-name" name="company_name" placeholder="Company Name" value="{{ old.company_name ? old.company_name : '' }}">
              {% if(errors.company_name) %}
                <span class="help-block">{{ errors.company_name | first }}</span>
              {% endif %}
            </div>
            <div class="form-group {{ errors.email ? 'has-error' : '' }}">
              <label for="email">Email</label>
              <input type="mail" class="form-control" id="mail" name="email" placeholder="Email" value="{{ old.email ? old.email : '' }}">
              {% if(errors.email) %}
                <span class="help-block">{{ errors.email | first }}</span>
              {% endif %}
            </div>
            {% if(errors.email_sent) %}
              <div class="form-group text-danger">
                {{ errors.email_sent }}
              </div>
            {% endif %}
            {{ csrf.field | raw }}
            <a href="{{ path_for('users') }}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary invite">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="/js/users.js"></script>
{% endblock %}