{% extends "layouts/index.html.twig" %}

{% block menu %}{% endblock %}

{% block content %}
  <div class="row">
    <form>
      <div class="form-group">
        <label for="pass">Email</label>
        <input type="password" class="form-control" id="pass" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="comfirm-pass">Confirm Password</label>
        <input type="password" class="form-control" id="conform-pass" placeholder="Password">
      </div>
      <a href="{{ path_for('users') }}" class="btn btn-danger">Cancel</a>
      <a type="submit" class="btn btn-primary invite">Submit</a>
    </form>
  </div>

{% endblock %}