{% extends "layouts/index.html.twig" %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Integration
        </div>
        <div class="panel-body">
          <form method="post" action="{{ path_for('integration.save') }}" autocomplete="off">
            <div class="form-group {{ errors.name ? 'has-error' : '' }}" >
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{ old.name ? old.name : name }}">
              {% if(errors.name) %}
                <span class="help-block">{{ errors.name | first }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label >Feed Type</label>
              <div class="radio">
                <label><input type="radio" name="feed"  value="ftp" {{  feed == 'ftp' ? 'checked' }}>FTP</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="feed" value="api" {{  feed == 'api' ? 'checked' }} >API</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="feed" value="oauth {{  feed == 'oauth' ? 'checked' }}">Oauth</label>
              </div>
            </div>
            <div class="form-group">
              <label >Chart Type</label>
              <div class="radio">
                <label><input type="radio" name="chart_type"  value="line" {{  chart_type == 'line' ? 'checked' }}>Line Chart</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="chart_type" value="pie" {{  chart_type == 'pie' ? 'checked' }} >Pie</label>
              </div>
            </div>
            {% if(errors.email_sent) %}
              <div class="form-group text-danger">
                {{ errors.email_sent }}
              </div>
            {% endif %}
            {{ csrf.field | raw }}
            <a href="{{ path_for('integration') }}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary invite">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="/js/users.js"></script>
{% endblock %}