{% extends "layouts/index.html.twig" %}

{% block content %}
  {{ csrf.field | raw }}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Integration</h4>
          <div class="btn-group pull-right">
            <a class="btn btn-md btn-primary pull-right" href="{{ path_for('integration.create') }}">Edit</a>
          </div>
        </div>
        <div class="panel-body">
          <p ><strong>Name : </strong>{{ integration.name }}</p>
          <p ><strong>Feed : </strong>{{ integration.feed }}</p>
          <p ><strong>Chart type : </strong>{{ integration.chart_type | capitalize }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="col-sm-12">

    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="/js/users.js"></script>
{% endblock %}