{% extends "layouts/index.html.twig" %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          Login
        </div>
        <div class="panel-body">
          <form method="post" action="{{ path_for('login.post') }}" autocomplete="on">
            <div class="form-group" >
              <label for="name">Email</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{ old.email ? old.email : '' }}">
            </div>
            <div class="form-group">
              <label for="pass">Password</label>
              <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" value="{{ old.pass ? old.pass : '' }}">
            </div>
            {% if(errors.login) %}
              <div class="form-group text-danger">
                {{ errors.login | first }}
              </div>
            {% endif %}
            {{ csrf.field | raw }}
            <a href="{{ path_for('home') }}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary invite">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}

{% endblock %}