body {
  /*min-height: 2000px;*/
  padding-top: 70px;
}

.user-action{
  width: 110px;
  max-width: 110px;
}

.grid-action{
  width: 100px;
  max-width: 100px;
}

.item-action{
  width: 60px;
  max-width: 60px;
}
