{% extends "layouts/index.html.twig" %}

{% block content %}

  {% if token_expired == 0 %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          Choose your password
        </div>
        <div class="panel-body">
          <form method="post" action="{{ path_for('password.post') }}" autocomplete="on">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group" >
              <label for="pass_1">Password</label>
              <input type="password" class="form-control" name="pass_1" id="pass_1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="pass_2">Confirm Password</label>
              <input type="password" class="form-control" id="pass_2" name="pass_2" placeholder="Confirm Password">
            </div>
            {% if(errors) %}
              <div class="form-group text-danger">
                {{ errors | first }}
              </div>
            {% endif %}
            {{ csrf.field | raw }}
            <a href="{{ path_for('home') }}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary invite">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    {% else %}
      <div class="jumbotron">
        <h1>Invalid link</h1>
        <p>This link has expired.</p>

        <p>
          <a class="btn btn-lg btn-primary" href="{{ path_for('home') }}" role="button">Visit Home Page</a>
        </p>
      </div>
  {% endif %}

{% endblock %}

{% block extra_js %}

{% endblock %}