{% extends "layouts/index.html.twig" %}

{% block content %}
<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eius vel vero. Asperiores, dignissimos dolores est illum laboriosam molestiae nesciunt numquam quae tenetur ullam, velit vitae voluptatem. Deserunt, perspiciatis, qui!</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Start</a>
  </p>
</div>
{% endblock %}