<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tapclicks</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ path_for('home') }}">Home</a></li>

        {% if auth.isLoggedIn %}
          <li><a href="{{ path_for('integration') }}">Integration</a></li>
          <li><a href="{{ path_for('grid') }}">Data Levels</a></li>
          <li><a href="{{ path_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ path_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>