{% extends "layouts/index.html.twig" %}

{% block content %}
  {{ csrf.field | raw }}
  <input id="grid_id" type="hidden" name="grid_id" value="{{ current_grid_id }}">
  <div class="row">
    <div class="col-sm-12">
      <h2>Items</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline pull-right">
          <li data-grid_id="{{ grid.grid_id }}">
            <a id="copy"  title="Copy" data-toggle="tooltip" class="btn btn-primary">
              <span class="fa fa-copy"></span>
            </a>
            <a id="paste" title="Paste" data-toggle="tooltip" class="btn btn-info">
              <span class="fa fa-paste"></span>
            </a>
            <a id="add" title="New Item" data-toggle="tooltip" data-action="add" class="btn btn-success new">
            <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a id="delete" title="Delete" data-toggle="tooltip" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </li>
        </ul>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        {% for grid in grids %}
          <li role="presentation" class="{{ grid.grid_id == current_grid_id ? 'active' : ''}}">
            <a href={{ path_for('items', {'grid_id': grid.grid_id}) }}>{{ grid.grid_name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row" style="margin-top:25px;">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <td class="table-cb"><input class="check-all" type="checkbox"></td>
          <th>Tapclicks Label</th>
          <th>Array Key</th>
          <th>Default Active</th>
          <th>Is Dimension</th>
          <th>Is Metric</th>
          <th>Is Dashboard Metric</th>
          <th>Is Top Metric</th>
          <th>Calculation</th>
          <th>Format</th>
          <th>Precision</th>
          <th>Parent Level</th>
          <th>Note</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody id="sortable" class="tbody">
        {% for item in items %}
          <tr data-item_id="{{ item.item_id }}">
            <td class="table-cb"><input class="cb" type="checkbox"></td>
            <td class="editable" data-field="label">{{ item.label }}</td>
            <td class="editable" data-field="api_index">{{ item.api_index }}</td>
            <td class="text-center yn" data-field="active">{{ item.active ? '<span class="text-success glyphicon glyphicon-ok"></span>' : '' }}</td>
            <td class="text-center yn" data-field="is_dimension">{{ item.is_dimension ? '<span class="text-success glyphicon glyphicon-ok"></span>' : '' }}</td>
            <td class="text-center yn" data-field="is_metric">{{ item.is_metric ? '<span class="text-success glyphicon glyphicon-ok"></span>' : '' }}</td>
            <td class="text-center yn" data-field="is_dashboard_metric">{{ item.is_dashboard_metric ? '<span class="text-success glyphicon glyphicon-ok"></span>' : '' }}</td>
            <td class="text-center yn" data-field="is_top_metric">{{ item.is_top_metric ? '<span class="text-success glyphicon glyphicon-ok"></span>' : '' }}</td>
            <td class="editable" data-field="formula">{{ item.formula }}</td>
            <td class="editable" data-field="format">{{ item.format }}</td>
            <td class="editable" data-field="max_precision">{{ item.max_precision }}</td>
            <td class="editable" data-field="parent_level">{{ item.parent_level }}</td>
            <td class="editable" data-field="note">{{ item.note }}</td>
            <td class="item-action">
              <ul class="list-inline pull-right" style="margin-bottom: 0px;">
                <li>
                  <a title="New Item" data-toggle="tooltip"  data-action="insert" class="btn btn-success btn-sm new">
                    <span class="glyphicon  glyphicon-plus"></span>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="/js/item.js"></script>
{% endblock %}