{% extends "layouts/index.html.twig" %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Data level
        </div>
        <div class="panel-body">
          <form method="post" action="{{ path_for('grid.save', {'grid_id': grid.grid_id}) }}" autocomplete="off">
            <div class="form-group">
              <label for="grid_name">Name</label>
              <input type="text" class="form-control" name="grid_name" id="grid_name" placeholder="Name" value="{{ old.name ? old.name : grid.grid_name }}">
            </div>
            <div class="form-group">
              <label >Is Main Data Level</label>
              <div class="radio">
                <label><input type="radio" name="is_cgn"  value="1" {{ grid.is_cgn == '1' ? 'checked' }} >Yes</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="is_cgn" value="0" {{ grid.is_cgn == '0' ? 'checked' }} >No</label>
              </div>
            </div>
            <div id="parents" class="form-group">
              <label>Is child of :</label>
              <select name="parent_grid_id" class="form-control">
                <option value="">Select a Parent Data level</option>
                {% for parent_grid in grids %}
                  {% if parent_grid.grid_id != grid.grid_id %}
                      "<option value={{ parent_grid.grid_id }} {{ parent_grid.grid_id == grid.parent_grid_id ? 'selected' : '' }}>{{ parent_grid.grid_name }}</option>";
                  {% endif %}
                {% endfor %}
                ?>

              </select>
            </div>
            {{ csrf.field | raw }}
            <a href="{{ path_for('grid') }}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary invite">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="/js/users.js"></script>
{% endblock %}