{% extends "layouts/index.html.twig" %}

{% block content %}
  {{ csrf.field | raw }}
  <div class="row">
    <div class="col-sm-12">
      <h2>Data levels</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-md btn-primary pull-right" href="{{ path_for('grid.create') }}">New data level</a>
    </div>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Is main data level</th>
          <th>Parent data level</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for grid in grids %}
          <tr data-grid_id="{{ grid.grid_id }}">
            <td>
              <a href="{{ path_for('items', {'grid_id': grid.grid_id}) }}" >{{ grid.grid_name }}</a>
            </td>
            <td>{{ grid.is_cgn == 1 ? 'Yes' : 'No' }}</td>
            <td>{{ parents[grid.parent_grid_id] }}</td>
            <td class="grid-action">
              <ul class="list-inline pull-right" style="margin-bottom: 0px;">
                <li>
                  <a title="Edit" data-toggle="tooltip" href="{{ path_for('grid.create', {'grid_id': grid.grid_id}) }}" class="btn btn-warning btn-sm">
                    <span class="glyphicon  glyphicon-edit"></span>
                  </a>
                  <a title="Delete" data-toggle="tooltip" href="{{ path_for('grid.delete', {'grid_id': grid.grid_id}) }}" class="btn btn-danger btn-sm">
                    <span class="glyphicon  glyphicon-trash"></span>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="/js/grid.js"></script>
{% endblock %}